.itemsList{
  /* border: 1px solid lightgrey; */
  width: 22%;
  list-style-type: none;
  padding-left: 5px;
  position: absolute;
  font-size: .75em;
  /* visibility: hidden; */
  /* display: hidden; */
  /* color: red; */
}

.kart{
  margin-top: 250px;
}