*{
  text-align: center;
}

body{
  background-color: #E6E6E6;
}

.itemsList{
  /* border: 1px solid lightgrey; */
  width: 22%;
  list-style-type: none;
  margin-left: 20%;
  padding-left: 33.5px;
  padding-right: 34.5px;
  position: absolute;
  font-size: .75em;
  /* visibility: hidden; */
  /* display: hidden; */
  background-color: white;
}

.kart{
  margin-top: 250px;
}

.form{
  height: 100%;
  width: 70%;
  position: relative;
  padding-top: 5%;
}

.mainPage{
  display: flex;
  flex-direction: row;
}

.sidebar{
  width: 30%;
  background-color: #424450;
  color: white;
  font-weight: 800;
  padding-top: 10%;
  /* padding-left: 5%; */
}

.header{
  background-color: #79AD6E;
  color: white; 
  text-align: center;
  padding: 5%;
  font-weight: 800;
}
